<div>
    <a href="https://www.instagram.com"><img src="/images/pscm_footer_icon_instagram.png" alt="instagram"></a>
    <a href="https://www.facebook.com"><img src="/images/pscm_footer_icon_facebook.png" alt="facebook"></a>
    <a href="https://www.youtube.com"><img src="/images/pscm_footer_icon_youtube.png" alt="youtube"></a>
</div>