    <%- include('includes/head', {pageTitle: 'Home'}) %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/main-image.css">
</head>
<body>
    <header>
        <%- include('includes/header') %>
    </header>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/image1.jpeg" class="d-block w-100" alt="image1">
          </div>
          <div class="carousel-item">
            <img src="/images/image2.jpeg" class="d-block w-100" alt="image2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="reserv-btn" class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-secondary">예약하러 가기</button>
    </div>
</body>
</html>