<%- include('includes/head', {pageTitle: 'mypage'}) %>
<link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
    <%- include('includes/header') %>
</header>
<main>
        <div class="row mypage">
            <div class="col-4">
              <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                  <a class="nav-link" href="#item-1">회원 정보</a>
                  <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                  </nav>
                  <a class="nav-link" href="#item-2">예약 정보</a>
                  <a class="nav-link" href="#item-3">리뷰</a>
                </nav>
              </nav>
            </div>
          
            <div class="col-8">
              <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                  <h4>회원정보</h4>
                  <p>이름 </p>
                  <p>나이 </p>
                  <p>이메일 </p>
                  <p>전화번호 </p>
                  <p>선호사항 </p>
                  <p>로열티 프로그램 </p>
                  <div><a href="/mypage-edit/<%= locals.uid %>">회원정보 변경</a></div>
                </div>
                <!-- <div id="item-1-1">
                  <h5>Item 1-1</h5>
                  <p>...</p>
                </div> -->
                <div id="item-1-2">
                </div>
                <div id="item-2">
                  <h4>예약</h4>
                  <p>...</p>
                </div>
                <div id="item-3">
                  <h4>리뷰</h4>
                  <p>...</p>
                </div>
              </div>
            </div>
          </div>
</main>
</body>
</html>