<%- include('includes/head', {pageTitle: 'regist' }) %>
<link rel="stylesheet" href="/styles/regist.css">
</head>
<body>
    <header>
        <%- include('includes/header') %>
    </header>
    <main>
        예약
    </main>
</body>
</html>