<%- include('../includes/head', {pageTitle: 'beauty'}) %>
<link rel="stylesheet" href="/styles/beauty.css">
</head>
<body>
<header>
    <%- include('../includes/header') %>
</header>
<main>
    <section>
        <%- include('./beauty-card', {beautyList: beautyList}) %>
    </section>
</main>
</body>
</html>