<h2>컷</h2>
<hr style=" margin: 0 auto 2rem auto;"/>
<% for (const beauty of beautyList) { %>
<div id="beauty-card">
    <p><%= beauty.name %><hr class="hr"></p>
    <p><%= beauty.price %></p>
</div>
<% } %>