<div class="card">
    <div class="card-body">
        <h5 class="card-title">디자이너</h5>
        <div id="behavior">
            <a href="/review"
                class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">리뷰
            </a>
            <p style="padding-top: 1rem; margin-right: 5rem;">평점</p>
        </div>
        <a href="/reservation"
        class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">예약하기</a>
    </div>
    <div style="width: 15rem;">
        <img src="/images/image1.jpeg" class="card-img-top" alt="...">
    </div>
</div>