<div class="card" style="margin-bottom: 0.5rem;">
    <div class="card-body">
        <h5 class="card-title"><%= review.designer %> <%= review.grade %></h5>
        <p><%= review.writer %></p>
        <p><%= review.reviewcontent %></p>
    </div>
</div>